<!DOCTYPE html>
<html>
<head>
    <title>Streamtagger</title>
    <link rel="stylesheet" type="text/css" href="static/css/dropdown.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="static/js/moment.js"></script>
    <script type="text/javascript" src="static/js/player.js"></script>
    <script type="text/javascript" src="static/js/dropdown.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/player.css">
</head>
<body>

<div id="top_container">
    <div id="menubar">
        <div class="dropdown" id="home">
            <button onclick="goHome()" class="dropbtn">Home</button>
        </div>
        <div class="dropdown" id="add_content">
            <button onclick="show_user_dropdown('content_dropdown')" class="dropbtn">+</button>
            <div id="content_dropdown" class="dropdown-content">
                <a href="upload">Songs</a>
            </div>
        </div>
        <div class="dropdown" id="user_context">
            <button onclick="show_user_dropdown('user_dropdown')" class="dropbtn">{{ username }}</button>
            <div id="user_dropdown" class="dropdown-content">
                <a href="#" onclick="logout()">Logout</a>
            </div>
        </div>
    </div>

    <div id="tablecontainer">
        {{ initial_song_table|safe }}
    </div>

    <div id="controls_container">
        <div id="prev_song_button" onclick="play_next_song(-1)"></div>
        <audio id="audio" controls>
            <source id="audio_source" src="" type="audio/mpeg">
        </audio>
        <div id="next_song_button" onclick="play_next_song(1)"></div>
    </div>
</div>

<div id="dialog-confirm-delete-song" title="Delete song?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This song and all its associated tags will be removed from the database. Are you sure?</p>
</div>

</body>
</html>