<form class="song_details" id="song_details_{{ song_id }}">
    <table class="song_details">
        <tr>
            <td colspan="2" class="song_details path">{{ song_path }}</td>
        </tr>
        <tr>
            <td>Tags</td><td><input class="song_details tags" name="tags" value="{{ song_tags }}" data-unchanged="{{ song_tags }}"></td>
        </tr>
        {% for k, v in song_attributes %}
        <tr>
            <td>{{ k }}</td><td><input class="song_details attribute" name="{{ k }}" value="{{ v }}" data-unchanged="{{ v }}"></td>
        </tr>
        {% endfor %}
        <tr>
            <td></td><td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
