<form class="song_details" id="song_details_{{ song_id }}">
    <table>
        <tr>
            <td>Title</td><td><input class="song_details title" value="{{ song_title }}"></td>
        </tr>
        <tr>
            <td>Artist</td><td><input class="song_details artist" value="{{ song_artist }}"></td>
        </tr>
        <tr>
            <td>Tags</td><td colspan="3"><input class="song_details tags" value="{{ song_tags }}"></td>
        </tr>
        <tr>
            <td></td><td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
