{% if tag_type == 'faces' %}
<div class="tag_value_container" data-tag_name="{{ tag_name }}" data-report_name="{{ report_name }}">
    {% if tag_value is not none %}
        {% if tag_value < 1.5 %}
            {% set tag_code = 1 %}
        {% elif tag_value < 2.5 %}
            {% set tag_code = 2 %}
        {% elif tag_value < 3.5 %}
            {% set tag_code = 3 %}
        {% elif tag_value < 4.5 %}
            {% set tag_code = 4 %}
        {% else %}
            {% set tag_code = 5 %}
        {% endif %}
    {% else %}
        {% set tag_code = 0 %}
    {% endif %}
    {% if editable %}
        <div class="editable_tag face_tag {{ 'face1_selected' if tag_code == 1 else 'face1_unselected' }}" data-value="1">
        </div><div class="editable_tag face_tag {{ 'face2_selected' if tag_code == 2 else 'face2_unselected' }}" data-value="2">
        </div><div class="editable_tag face_tag {{ 'face3_selected' if tag_code == 3 else 'face3_unselected' }}" data-value="3">
        </div><div class="editable_tag face_tag {{ 'face4_selected' if tag_code == 4 else 'face4_unselected' }}" data-value="4">
        </div><div class="editable_tag face_tag {{ 'face5_selected' if tag_code == 5 else 'face5_unselected' }}" data-value="5">
        {% if tag_value is not none %}
            </div><div class="editable_tag remove_tag" data-value="None">&#10008;</div>
        {% else %}
            </div>
        {% endif %}
    {% else %}
        {% if tag_value is not none %}
            <div class="face_tag face{{ tag_code }}_selected"></div>
        {% endif %}
    {% endif %}
</div>
{% endif %}