#top_container {
    width: 80%;
    margin: auto;
}

td {
    padding: 2px 2px;
}

th {
    text-align: left;
    vertical-align: bottom;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
  text-align: right;
  vertical-align: inherit;
}

th.rotate > div {
  display: inline-block;
  transform:
    translate(18px, 51px)
    rotate(315deg);
  width: 30px;
}

th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.song_button {
    width: 24px;
    height: 24px;
}

.play_song_button {
    background: url('../button_play.png');
    background-size: cover;
}

.pause_song_button {
    background: url('../button_pause.png');
    background-size: cover;
}

.resume_song_button {
    background: url('../button_resume.png');
    background-size: cover;
}

.action_context {
    width: 24px;
    height: 24px;
    background: url('../button_menu.png');
    background-size: cover;
    background-color: transparent;
}

#menubar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    text-align: right;
    top: 0;
    background-color: white;
    z-index: 100;
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#menubar > * {
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

#controls_container {
    width: 100%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 4px;
    border-top: 1px solid gray;
}

#controls_container > * {
    display: inline-block;
}

#prev_song_button {
    width: 48px;
    height: 48px;
    background: url('../button_prev.png');
    background-size: cover;
}

#next_song_button {
    width: 48px;
    height: 48px;
    background: url('../button_next.png');
    background-size: cover;
}

#console {
    width: 40%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

table.song_details {
    width: 100%;
}

input.song_details {
    width: 100%;
}

.editable_tag {
    cursor: pointer;
}

.face_tag {
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.face1_selected {
    background: url('/static/img/face1_selected.png');
}

.face2_selected {
    background: url('/static/img/face2_selected.png');
}

.face3_selected {
    background: url('/static/img/face3_selected.png');
}

.face4_selected {
    background: url('/static/img/face4_selected.png');
}

.face5_selected {
    background: url('/static/img/face5_selected.png');
}

.face1_unselected {
    background: url('/static/img/face1_unselected.png');
}

.face2_unselected {
    background: url('/static/img/face2_unselected.png');
}

.face3_unselected {
    background: url('/static/img/face3_unselected.png');
}

.face4_unselected {
    background: url('/static/img/face4_unselected.png');
}

.face5_unselected {
    background: url('/static/img/face5_unselected.png');
}

.remove_tag {
    color: black;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.editable_tag:hover {
    background-color: yellow;
}
