#top_container {
    width: 80%;
    margin: auto;
}

td {
    padding: 2px 2px;
}

th {
    text-align: left;
}

.song_button {
    width: 24px;
    height: 24px;
}

.play_song_button {
    background: url('../button_play.png');
    background-size: cover;
}

.pause_song_button {
    background: url('../button_pause.png');
    background-size: cover;
}

.resume_song_button {
    background: url('../button_resume.png');
    background-size: cover;
}

.action_context {
    width: 24px;
    height: 24px;
    background: url('../button_menu.png');
    background-size: cover;
    background-color: transparent;
}

#menubar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    text-align: right;
    top: 0;
    background-color: white;
    z-index: 100;
    padding-top: 4px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

#menubar > * {
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

#controls_container {
    width: 100%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 4px;
    border-top: 1px solid gray;
}

#controls_container > * {
    display: inline-block;
}

#prev_song_button {
    width: 48px;
    height: 48px;
    background: url('../button_prev.png');
    background-size: cover;
}

#next_song_button {
    width: 48px;
    height: 48px;
    background: url('../button_next.png');
    background-size: cover;
}

#console {
    width: 40%;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

table.song_details {
    width: 100%;
}

input.song_details {
    width: 100%;
}

.face_unselected {
    color: gray;
}

.editable_tag.face1_selected {
    color: blue;
    font-weight: bold;
}

.editable_tag.face2_selected {
    color: cyan;
    font-weight: bold;
}

.editable_tag.face3_selected {
    color: green;
    font-weight: bold;
}

.editable_tag.face4_selected {
    color: yellow;
    font-weight: bold;
}

.editable_tag.face5_selected {
    color: red;
    font-weight: bold;
}

.editable_tag:hover {
    background-color: yellow;
}
