<!DOCTYPE html>
<html>
<head>
    <title>Streamtagger: Log in</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="static/css/login.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="static/js/sha1.js"></script>
    <script type="text/javascript" src="static/js/login.js"></script>
</head>
<body>

<div class="container">
    <div class="main">
        <form id="loginform" class="form" method="post" action="#">
            <h2>Streamtagger: Log in</h2>
            <label>Username :</label>
            <input type="text" name="username" id="username">
            <label>Password :</label>
            <input type="password" name="password" id="password">
            <input type="button" name="login" id="login" value="Login">
        </form>
    </div>
</div>

</body>
</html>
