{% extends "base.html" %}

{% block content %}
    <div id="tablecontainer">
        {{ initial_song_table|safe }}
    </div>

    <div id="controls_container">
        <div id="prev_song_button" onclick="play_next_song(-1)"></div>
        <audio id="audio" controls>
            <source id="audio_source" src="" type="audio/mpeg">
        </audio>
        <div id="next_song_button" onclick="play_next_song(1)"></div>
    </div>
{% endblock %}

{% block dialogs %}
<div id="dialog-confirm-delete-song" title="Delete song?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This song and all its associated tags will be removed from the database. Are you sure?</p>
</div>
{% endblock %}
